body {
background-color: lightgray;
}
.divs {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #acd6fd;
  margin:1px;
  padding: 0;
  border: solid 2px gray;
}
span {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
#runButton {
  color: #ffffff;
  background-color: blue;
  border-radius: 20%;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 40px;
  font-family: 'Merriweather Sans', sans-serif;
}
h1 {
  font-family: 'Merriweather Sans', sans-serif;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}
.socialApp img:hover {
    background: #fcf4e6;
}
div {
  display: inline-block;
}
.square {
  width: 200px;
  height: 200px;
  background: #acd6fd;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 1px;
  border: solid 2px gray;
}
.box {
  display: inline-block;
}
