body {
background-color: lightgray;
}
.divs {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
span {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#runButton {
  color: #ffffff;
  background-color: blue;
  border-radius: 20%;
  padding: 20px;
  margin: 40px;
}
h1 {
  font-family: 'Merriweather Sans', sans-serif;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}
.socialApp img:hover {
    background: #fcf4e6;
}
